---
pageTitle: Andy Hart
---
<!DOCTYPE html>
<html lang="en">
<head>
{% include "partials/meta-info.njk" %}
</head>
<body>
{% include "partials/nav.njk" %}

{{ content | safe }}

{% include "partials/footer.njk" %}
<script src="{{ '/js/script.js' | url }}" defer></script>
</body>
</html>