---
layout: base.njk
---
<div class="heading">
  <div class="heading-measure">
    <h1 class="heading-title">Hello.<br>I'm <span class="headline-accent">Andy Hart</span>.</h1>
    <p class="heading-text">I'm a UX Engineer from Minneapolis, MN with a background in designing technical solutions for government, non-profit, and advocacy-based organizations.</p>
  </div>
</div>
<main>
  <article>
    {{ content | safe }}
  </article>
</main>