---
layout: base.njk
---
{% include "partials/hero.njk" %}
<main>
  <article>
    <div class="content">
      <div class="content-measure">
        <div class="content-indent">
        <h1 class="page-heading">{{ title }}</h1>
        {{ content | safe }}
        </div>
      </div>
    </div>
  </article>
</main>