<footer class="footer">
  <div class="footer-measure">
    <div class="footer-logo">
    <img src="/images/ah-logo-shadow.svg" width="72">
    </div>
    <div class="footer-nav">
      <ul class="footer-list">
        {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>