{% for job in collections.jobs | reverse %}
<div class="articleList-article">
  <h2 class="articleList-articleTitle">
    <a href="{{ job.url }}">{{ job.data.title }}</a>
  </h2>
  <p class="publication-meta">{{ job.data.summary }}</p>
</div>
{% endfor %}