{% for portfolio in collections.portfolio | reverse %}
<div class="project">
<p class="project-date">{{ portfolio.data.year }}</p>
<h3 class="project-title">{{ portfolio.data.title }}</h3>
<p class="project-company">{{ portfolio.data.company }}</p>
{{ portfolio.templateContent | safe }}
</div>
{%- endfor -%}
<!--
{% for portfolio in collections.portfolio | reverse %}
<div class="articleList-article">
  <h3>
    {{ portfolio.data.title }}
  </h3>
  <p class="publication-meta">{{ portfolio.data.company }} // {{ portfolio.data.year }}</p>
  <p>{{ portfolio.data.summary }}</p>
  <p><a href="{{ portfolio.url }}">Read more about the {{ portfolio.data.title }} project >></a></p>
</div>
{% endfor %}
-->